body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: mistyrose;
  color: #010120;
  margin: 0;
  padding: 0;
}

body .page-title {
  margin-bottom: 40px;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

body header h2 {
  text-align: center;
}

body header .header-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .header-sign svg {
  stroke-width: 2;
  stroke: #990000;
  fill: pink;
  stroke-dasharray: 1, 10;
  stroke-linecap: round;
  -webkit-animation: dash-head 20s linear;
          animation: dash-head 20s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes dash-head {
  to {
    stroke-dashoffset: 200;
  }
}

@keyframes dash-head {
  to {
    stroke-dashoffset: 200;
  }
}

body header .separator {
  stroke-width: 3;
  stroke: #990000;
  stroke-dasharray: 1, 10;
  stroke-linecap: round;
  -webkit-animation: dash-head_reverse 20s linear;
          animation: dash-head_reverse 20s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes dash-head_reverse {
  to {
    stroke-dashoffset: 200;
  }
}

@keyframes dash-head_reverse {
  to {
    stroke-dashoffset: 200;
  }
}

#fun {
  position: relative;
  margin-top: -100px;
  margin-bottom: 100px;
  text-align: center;
}

#fun h3 {
  color: darkslategrey;
  text-align: center;
}

#theatre {
  padding: 20px 0;
  margin: 0 20px;
  text-align: center;
}

#signs {
  background-color: #010120;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 10px;
}

@media only screen and (min-width: 600px) {
  #signs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px 0;
  }
}

#signs .sign {
  padding: 50px 0;
}

@media only screen and (min-width: 768px) {
  #signs .sign {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
  }
}

@media only screen and (min-width: 1024px) {
  #signs .sign {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
}

.sign-letters {
  z-index: 0;
  stroke-width: 0.5;
  stroke: #ffcc00;
  fill: #990000;
}

.sign-letters_ {
  z-index: 0;
  stroke-width: 0.5;
  stroke: #990000;
  fill: #990000;
}

.sign-letters-no-border {
  z-index: 0;
  stroke-width: 0.5;
  fill: #990000;
}

.sign-lights {
  z-index: 999;
  stroke: #ffcc00;
  fill: transparent;
  stroke-width: 2;
  stroke-dasharray: 1, 10;
  stroke-linecap: round;
  -webkit-animation: dash 5s linear;
          animation: dash 5s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 200;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 200;
  }
}

.sign-lights-reverse {
  position: absolute;
  z-index: 999;
  stroke: #ffcc00;
  fill: transparent;
  stroke-width: 2;
  stroke-dasharray: 1, 10;
  stroke-linecap: round;
  -webkit-animation: dash-reverse 5s linear;
          animation: dash-reverse 5s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes dash-reverse {
  to {
    stroke-dashoffset: -200;
  }
}

@keyframes dash-reverse {
  to {
    stroke-dashoffset: -200;
  }
}

#fun #countdown--clock {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 420px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}

#fun #countdown--clock #day {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

#fun #countdown--clock #hour {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

#fun #countdown--clock #minute {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

#fun #countdown--clock #seco {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

#fun #countdown--clock .countdownbox {
  position: relative;
  height: 150px;
  width: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#fun #countdown--clock .countdownbox .days,
#fun #countdown--clock .countdownbox .hours,
#fun #countdown--clock .countdownbox .minutes,
#fun #countdown--clock .countdownbox .seconds {
  text-align: center;
}

#fun #countdown--clock .countdownbox .days h2,
#fun #countdown--clock .countdownbox .hours h2,
#fun #countdown--clock .countdownbox .minutes h2,
#fun #countdown--clock .countdownbox .seconds h2 {
  padding-top: 45px;
  color: darkred;
  font-size: 12px;
}

#fun #countdown--clock #countdown__days,
#fun #countdown--clock #countdown__hours,
#fun #countdown--clock #countdown__minutes,
#fun #countdown--clock #countdown__seconds {
  color: darkred;
  display: inline-block;
  line-height: 5px;
  font-size: 32px;
  /* font-weight: bold; */
}

#fun #countdown--clock svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
  -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(90deg);
  transform: rotateX(180deg) rotateY(180deg) rotateZ(90deg);
}

#fun #countdown--clock svg #circle-days,
#fun #countdown--clock svg #circle-hours,
#fun #countdown--clock svg #circle-min,
#fun #countdown--clock svg #circle-sec {
  stroke-linecap: round;
  stroke-width: 5px;
  stroke: orange;
  opacity: 1;
  fill: none;
}

#fun #countdown--clock svg .base-circle {
  stroke-linecap: round;
  stroke-width: 15px;
  stroke: darkred;
  opacity: 0.4;
  fill: none;
}

#fun #countdown--clock .progress {
  -webkit-transition: stroke-dashoffset 0.25s;
  transition: stroke-dashoffset 0.25s;
}

@media only screen and (min-width: 768px) {
  #fun #countdown--clock {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  #fun #countdown--clock #day {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  #fun #countdown--clock #hour {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  #fun #countdown--clock #minute {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  #fun #countdown--clock #seco {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}

@media only screen and (min-width: 768px) {
  #fun button {
    display: none;
  }
  #fun .toggle-text {
    display: none;
  }
  #fun #countdown--clock {
    max-width: 100%;
  }
  #fun #countdown--clock #day {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  #fun #countdown--clock #hour {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  #fun #countdown--clock #minute {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  #fun #countdown--clock #seco {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  #fun #countdown--clock .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #fun #countdown--clock .wrap .second-wrap {
    text-align: left;
    z-index: 1;
  }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
  #fun button {
    display: none;
  }
  #fun .toggle-text {
    display: none;
  }
  #fun #countdown--clock {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  canvas {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
/*# sourceMappingURL=main.css.map */
